.git
__pycache__
*.pyc
*.pyo
*.pyd
.Pythondo
env
.venv
env.bak
.venv.bak
*.webp
*.cc
*.*_cache
.pytest_cache
.github
.ruff_cache
.vscode
.idea
tests
venv
templates
.pre-commit-config.yaml
.gitignore
.dockerignore
.DS_Store
LICENSE
README.md
